// style.home 
.blog-info {
	color: #929292;
	border: 1px solid gray;
	h4 {
		color: $bg-orange;
	}
}
#photo {
	.pink {
		@include rosado;
	}
}
#imagenes {
	h1 {
		background-color: $bg-orange;
		color: $bg-blanco;
	}
	h2, {
		color: $bg-orange;
	}
	.check:before, .check:after {
		@include float-left;
	}
	.check {
		#bottom {
			margin-bottom: 12%;
		}
		img {
			float: left;
			width: $floatleft;
			margin-top: $margin-top;
		}
		h2 {
			float:left;
			width: 80%;
		}
	}
	.col-xs-3 img {
		width: 100%;
	}
	.col-xs-4 {
		text-align: left;
		a {
		background-color: $bg-orange;
		padding: 2% 3%;
		color: $bg-blanco;
		}
	}
	.col-xs-10 {
		img {
			margin-top: 3%;
		}
	}
}
// fin style-home
// style-about-us 
.-h1 {
	@include dos-colores;
}
#about-us {
	.col-xs-8 {
		#parrafo-right {
			display: inline-block;
    		float: right;
    		width: 67%;
		}
	}
	aside {
		ul {
			@include decoracion;
		}
		img {
			@include fotogaleria;
		}
	}
}