.header {
  background-color: white;
  padding: 2% 0%; }
  .header h1 {
    color: #e76636;
    margin: 0%;
    font-weight: 400; }
    .header h1 span {
      color: #f1ae9d; }
    .header h1 a {
      text-decoration: none; }
  .header li {
    display: inline-block; }
    .header li a {
      color: #bcbcbc;
      text-decoration: none;
      font-size: 20px;
      padding-left: 20px; }
      .header li a:hover {
        color: #e76636;
        font-weight: 600; }

footer {
  background-color: pink;
  color: #ffffff;
  color: #fcffff;
  margin-top: 5%; }
  footer .container {
    background-color: #e76636;
    border-left: 15px solid white;
    border-right: 15px solid white; }

aside ul {
  text-decoration: none;
  list-style: none;
  padding: 0%; }
aside p {
  width: 70%; }
aside h2 {
  color: #e76636; }
aside .photo-g img {
  margin-top: 2%;
  text-align: center;
  border: 1px solid #e76636; }
  aside .photo-g img:hover {
    -webkit-box-shadow: 1px -2px 13px 0px rgba(131, 5, 177, 0.75);
    -moz-box-shadow: 1px -2px 13px 0px rgba(131, 5, 177, 0.75);
    box-shadow: 1px -2px 13px 0px rgba(131, 5, 177, 0.75); }

section .row {
  margin-top: 2%; }

h4 {
  color: #e76636; }

.blog-info {
  margin-top: 2%;
  color: #929292;
  width: 100%;
  border: 1px solid #bcbcbc; }
  .blog-info h3 {
    font-size: 20px; }

.blog-info:before, .blog-info:after {
  content: "";
  display: block;
  clear: both;
  box-sizing: border-box; }

.col-xs-3:hover {
  -webkit-box-shadow: 2px -4px 25px 0px rgba(50, 50, 50, 0.68);
  -moz-box-shadow: 2px -4px 25px 0px rgba(50, 50, 50, 0.68);
  box-shadow: 2px -4px 25px 0px #e76636; }

#photo .pink {
  height: 50px;
  width: 100%;
  background-color: pink; }

#imagenes h1 {
  background-color: #e76636;
  color: #ffffff; }
#imagenes h2 {
  color: #e76636; }
#imagenes .check:before, #imagenes .check:after {
  content: "";
  display: block;
  clear: both;
  box-sizing: border-box; }
#imagenes .check #bottom {
  margin-bottom: 12%; }
#imagenes .check img {
  float: left;
  width: 20%;
  margin-top: 5%; }
#imagenes .check h2 {
  float: left;
  width: 80%; }
#imagenes .col-xs-4 {
  text-align: left; }
  #imagenes .col-xs-4 a {
    background-color: #e76636;
    padding: 2% 3%;
    color: #ffffff; }
#imagenes .col-xs-10 img {
  margin-top: 3%; }

.-h1 {
  background-color: pink;
  color: #ffffff; }
  .-h1 .container {
    background-color: #e76636;
    border-left: 15px solid white;
    border-right: 15px solid white; }
  .-h1 .row {
    margin-top: 0%; }

#about-us .col-xs-8 #parrafo-right {
  display: inline-block;
  float: right;
  width: 67%; }
#about-us .col-xs-8 blockquote p {
  color: #e76636; }

.categoria .row {
  margin-top: 5%; }

.contact .col-xs-5 {
  margin-top: 3%; }
  .contact .col-xs-5 input, .contact .col-xs-5 textarea {
    margin-bottom: 3%;
    border-color: #e76636; }

.blog {
  margin-top: 2%; }
  .blog .row {
    margin-top: 0%; }
  .blog .separador {
    margin-top: 3%; }
  .blog button {
    background-color: #e76636;
    color: white;
    margin-top: 5%;
    width: 50px;
    height: 50px; }

.blog1 {
  background-size: 90px;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url("../../images/icon1.png"); }

.blog2 {
  background-size: 90px;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url("../../images/icon2.png"); }

.blog3 {
  background-size: 90px;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url("../../images/icon3.png"); }

.blog4 {
  background-size: 90px;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url("../../images/icon4.png"); }
  .blog4 .bg-blog {
    padding: 5% 0%;
    background-image: url("../../images/quote_bg.png");
    background-size: 100%;
    background-repeat: no-repeat; }

.blog5 {
  background-size: 90px;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url("../../images/icon5.png"); }

/*# sourceMappingURL=main.css.map */
